
.operators {

  border-top: 1px solid #2E9CBF;
  border-bottom: 1px solid #2E9CBF;
  border-left: 4px solid #2E9CBF;
  border-right: 4px solid #2E9CBF;
  background-color: #E6F2EE;
}

h1 {
  font-family: Verdana, sans-serif;
  margin: auto;
  font-size: 36px;
}

p {
  font-family:sans-serif;
}

.panel {
  height: 300px;
  width: 300px;
  float: right;

}
